<h1><%= @session.name %></h1>
<div class="container">
  <div class="row">
    <p><%= @session.description %></p>
    <p><%= @session.price %></p>
  </div>
</div>

<% if @user.session == @session %>
  <%= link_to "Edit session", edit_session_path(@session) %>
<% end %>
