<div id="footer">
  <footer class="footer mt-auto py-3 bg-light text-center">
    <div class="footer-container">
      <span class="text-muted">Feedbacker Team for Le Wagon Batch 604 - Berlin</span>
    </div>
  </footer>
</div>
