<div id="footer">
  <footer class="footer mt-auto py-3 bg-dark text-center">
    <div class="footer-custom">
      <span class="text-muted">Team Feedbacker - Batch 604 - Berlin</span>
    </div>
  </footer>
</div>
