<div class="container">
  <div class="row justify-content-center">
    <% @lessons.each do |lesson| %>
      <div class="card col-sm-8 col-md-8 col-lg-5 m-2">
        <div class="card-body">
          <h5 class="card-title"><%= link_to lesson.name, lesson_path(lesson), class: 'link-dark' %></h5>
          <h6 class="card-subtitle mb-2 text-muted"> Created by you</h6>
          <p class="card-text"><%= lesson.description %> </p>
          <%= link_to 'Show', lesson_path(lesson), class: "btn btn-primary mb-3" %>
          <%= link_to 'Edit', lesson_path(lesson), class: "btn btn-warning mb-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
