  <div class="d-flex flex-wrap justify-content-around">
    <% @lessons.each do |lesson| %>
      <div class="card m-3" style="width: 70vw;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to lesson.name, lesson_path(lesson), class: 'link-dark' %></h5>
          <h6 class="card-subtitle mb-2 text-muted"> Created by you</h6>
          <p class="card-text"><%= lesson.description %> </p>
          <div class="d-flex justify-content-center">
            <button class="btn-blue m-1">Show<%= link_to '', lesson_path(lesson) %>
            </button>
            <button class="btn-yellow m-1">Edit<%= link_to '', lesson_path(lesson) %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
