<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/9OGNpJPVMZ8/1600x900);">
  <div class="container text-center">
    <h1 class="mt-5">Find your next teacher</h1>
    <p class="text-center">Join now for exclusive access to the worlds best teachers and mentors. </p>
    <%= link_to  "Explore", lessons_path, class: "btn btn-outline-warning btn-lg mt-3" %>
  </div>
</div>