<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto font-white">
      <%= image_tag "buy-the-process.png", {id: 'img-home'} %>
      <%= form_tag lessons_path, :autocomplete => :off, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for a lesson or for your favorite TA"
        %>
        <br>
        <button class="btn-blue">Search<% submit_tag "Search" %>
        </button>
      <% end %>
      <br>
      <%= link_to  "Browse all lessons", lessons_path %>
    </div>
  </div>
</section>
