<div class="text-center">

<h1 class="mt-5">Find your next teacher</h1>
<p>Join now for exclusive access to the worlds best teachers and mentors. </p>
<%= link_to  "Explore", lessons_path, class: "btn btn-primary btn-lg mt-3" %>
</div>

