<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Create a new lesson</h1>
      <p class="lead text-muted">Are you a teacher? Create your lesson below:</p>
      <%= simple_form_for @lesson do |f| %>
        <%= f.input :name, placeholder: 'Intro to CSS', :label_html => { :class => 'label-style' } %>
        <%= f.input :description, placeholder: 'Setting classes & IDs', :label_html => { :class => 'label-style' } %>
        <%= f.input :price, label: 'Price per hour', placeholder: '€', :label_html => { :class => 'label-style' } %>
        <button class="btn-accept">Create lesson <% f.submit  %>
        </button>

      <% end %>
    </div>
  </div>
</section>
