.btn-submit {
  color: white;
  padding: 8px 24px;
  min-width: 200px;
  border-radius: 4px;
  background: #3d84b8;
  transition: background 0.3s ease;
  margin-top: 24px;
}

.btn-blue {
  background-color: #92CAF7;
  color: white;
  border-radius: 5px;
  min-width: 140px;
}
.btn-yellow {
  background-color: #EFC56D;
  color: white;
  opacity: 80%;
  border-radius: 5px;
}
.btn-green {
  background-color: #83DD6C;
  color: white;
  opacity: 80%;
  border-radius: 5px;
}
.btn-red {
  background-color: #EF6D6D;
  color: white;
  opacity: 80%;
  border-radius: 5px;
}
