// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/alert";
@import "components/avatar";
@import "components/buttons";
@import "components/index";
@import "components/navbar";
@import "components/searchbar";
@import "pages/index";
@import "pages/dashboard";

.footer-container {
  width: auto;
  padding: 0 15px;
  }

#container-body {
  min-height:100%;
  position:relative;
  background-color: black;
}

#body {
  padding:10px;
  padding-bottom:60px;   /* Height of the footer */
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}

html, body {
  background: black;
}

h1, h2, h3, h4 {
  color: white;
}

p {
  color: #9B9B9B;
}
